<!DOCTYPE html>
<html lang="en">
  <head>
    <%include style/header.ejs %>
  </head>
  <body class="<%=classname %>">
    <div class="container">
      <H1><%=pagetitle%><%=title%></H1>
      <P><%=devicename%></P>

      
            <li><%= devicestatus%></li>
            <li><%= deviceupdatetime%></li>
     
     
    </div>

    <%include style/pagedefault.ejs %>

 
    
  </body>
</html>